<!-- <%= link_to "What feeds are being used?", links_url %> -->

<% @entries.each do |entry| %>
  <div class='entry'>
    <h1><%= entry.title %></h1>
    <h6><%= Feed.readable_date entry.published %> - Posted by <%= Feed.author(entry.author) %> at<br /><%= link_to "#{entry.url[0,25] + "..."}", entry.url %></h6>
  </div>
<% end %>
